
<div class="container">
    <h3 class="my-2">Favoritos</h3>

    <div class="card-group justify-content-center">
        <ng-container *ngIf="(listOfCitys$ | async)">
            <wn-current-weather
            *ngFor="let city of ((listOfCitys$ | async).list)"
            class="mx-2 my-2"
            [cityWeather]="city"
            [isFavorite]="city"
            [unit]="unit$ | async"
            (toggleBookmark)="removeBookmark(city.city.id)"
            >
            </wn-current-weather>
        </ng-container>
    </div >

    <h4  class="text-center" *ngIf="!(bookmarksList$ | async).length">
        Nenhum favorito adicionado
    </h4>
</div>